div
  span#predecessor= id-1
  span#title= title
  span#successor= id-(-1)
div
  span#id= id
  span#updated updated
  button.clear(type="clear") ⎚
  span#expired ?
div#northbound
div#southbound
script
  require.setModuleRoot(window.location.protocol + '//' + window.location.host + '/modules');
  require.run("main");
