nav
  span#predecessor= id-1
  span#title= title
  span#successor= id-(-1)
header
  span#id= id
  time#updated updated
  button.clear ⎚
  span#expired ?
section.table#northbound
section.table#southbound
script
  createStation().init($, $('#id').text(), 256)