div
  span#predecessor= id-1
  span#title= title
  span#successor= id-(-1)
div
  span#id= id
  span#updated updated
  button.clear ⎚
  span#expired ?
div#northbound
div#southbound
script
  createStation().init($, $('#id').text(), 256)