body {
    margin: 5px;
    font-size: 22px;
}

section.table {
    width: 100%;
}

@media only screen and (orientation: landscape) {
    section.table {
        width: 50%;
    }

    body {
        font-size: 18px;
    }
}

section.table time {
    float: left;
    clear: left;
    width: 33.3%;
}

span.destination {
    float: left;
    width: 41.6%;
}

span.countdown {
    float: left;
    text-align: right;
    width: 25%;
}

.direction2 {
    background-color: #add8e6;
}

.direction1 {
    background-color: #e6adad;
}

@media only screen and (min-width: 800px) and (orientation: portrait) {
    body {
        font-size: 48px;
    }
}

@media only screen and (min-width: 800px) and (orientation: landscape) {
    body {
        font-size: 24px;
    }
}

body.pending {
    background: #d3d3d3;
}

div.departure {
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 1.6em;
}

#expired {
    font-size: 0.8em;
}

#title, #predecessor, #successor {
    font-size: 1.4em;
}

#predecessor, #successor {
    color: #7F9F7F;
    font-style: italic;
}

#id {
    color: gray;
    font-style: italic;
    font-size: 0.5em;
}
