body {
    margin: 5px;
}

div#northbound, div#southbound {
    width: 99%;
    font-size: 24px;
}

span.time {
    float: left;
    clear: left;
    width: 24%;
}

span.destination {
    float: left;
    width: 49%;
}

span.countdown {
    float: right;
}

@media only screen and (min-width: 480px) {
    div#northbound, div#southbound {
        width: 49%;
        font-size: 18px;
    }

    div.departure span {
        font-size: 18px;
    }
}

div#northbound {
    float: left;
    background-color: #add8e6;
}

div#southbound {
    float: left;
    background-color: #e6adad;
}

@media only screen and (min-width: 800px) {
    div#northbound, div#southbound {
        width: 99%;
        font-size: 56px;
    }
}

@media only screen and (min-width: 1280px) {
    div#northbound, div#southbound {
        width: 49%;
        font-size: 48px;
    }

    div.departure span {
        font-size: 48px;
    }
}

body.pending {
    background: #d3d3d3;
}

body.pending div#northbound span, body.pending div#southbound span {
    background-color: #d3d3d3;
}

div.departure {
    width: 100%;
}

div.departure span {
    width: 33%;
}


a {
    text-decoration: none;
    font-size: xx-large;
}

#title, #predecessor, #successor {
    font-size: 24pt;
}

#predecessor, #successor {
    color: #7F9F7F;
    font-style: italic;
}

#id {
    color: gray;
    font-style: italic;
    font-size: small;
}
